@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;1,100&display=swap");
@import url("http://fonts.cdnfonts.com/css/chistoso");
@import url("http://fonts.cdnfonts.com/css/bangalore");

* {
  padding: 0;
  margin: 0;
  justify-content: center;
  align-content: center;
  text-align: center;
}
html {
  min-height: 100%;
  background-size: cover;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://images.unsplash.com/photo-1624285206817-0230db70d364?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80");
}
body {
  font-family: "Montserrat", sans-serif;
  color: aliceblue;
}

ul {
  font-family: "Montserrat", sans-serif;
}
h1 {
  padding-top: 5%;
  color: rgb(202, 185, 227);
  font-family: "Montserrat", sans-serif;
}
img {
  margin-top: 20px;
  width: 30%;
  border: 9px solid rgb(219, 196, 196);
  border-radius: 100px;
}
h3 {
  color: rgb(140, 73, 56);
  font-size: 30px;
  background-color: rgb(23, 22, 102);
  margin: 35px 0px 20px 0px;
  padding: 10px;
}
ul {
  color: rgb(134, 134, 227);
  margin-top: 0%;
  font-size: 20px;
  background-color: rgb(46, 13, 13);
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5%;
  padding: 10px;
  list-style-position: inside;
  font-family: "Montserrat", sans-serif;
}

button {
  color: rgb(255, 255, 255);
  padding: 1%;
  font-size: 20px;
  background-color: rgb(94, 101, 164);
  margin: 20px;
  font-family: "Bangalore", sans-serif;
}
#linkedin {
  margin: 20px;
  margin-left: auto;
  margin-right: auto;
  color: rgb(204, 214, 219);
  background-color: rgb(35, 82, 223);
  padding: 20px;
}
a {
  text-decoration: none !important;
}
